<h3>enter new flat details</h3>

<%= simple_form_for(@flat) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :description %>
  <%= f.input :price_per_night %>
  <%= f.input :number_of_guest %>
  <%= f.submit  %>

<% end %>

<%= link_to "back", flats_path  %>
