<h3>  more info about <%= @flat.name %></h3>

<p>Address:<%= @flat.address %></p>
<p>Description: <%= @flat.description %></p>
<p>Price: <%= @flat.price_per_night %></p>
<p>Number of Guest: <%= @flat.number_of_guest %></p>

<%= link_to "back", flats_path  %>
